<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/TahiruYussif/IdeaProjects/SelenideProject/src/test/java/tests/question1/Calendars.java">
        <classes>
            <class name="tests.question1.Calendars">
                <methods>
                    <include name="testCalendars"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>